.interaction-container {
    background-color: rgb(255,255,255,.7);
    box-shadow: var(--box-shadow);
    margin-bottom: 3rem;
    padding: 1rem 0 2rem;
    /* padding-bottom: 2rem; */
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container-close {
    display: none;
}

.collapse-button-close {
    position: absolute;
    transform: rotate(270deg);
    top: var(--margin-xxs);
    left: var(--margin-xxs);
    transition: all .5s ease-out;
    margin-bottom: 2rem;
}

.collapse-button-open {
    position: absolute;
    transform: rotate(90deg);
    left: calc(50% - 29px);
    /* (Dropdown menu width + button height) / 2 */
    top: calc(12rem - 29px);
    transition: all .5s ease-out;
}

.options-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.select-explorer {
    display: flex;
    flex-direction: column;
    width: 20rem;
    margin: var(--margin-xxxs);
    color: var(--navy);
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.explorer-button {
    padding: var(--padding-xs);
    margin: var(--margin-xxxs);
    border: none;
    color: var(--white);
    width: 20rem;
    border-radius: var(--border-sm);
}
.explorer-button:hover, .explorer-button:focus, .explorer-button:active {
    background-color: var(--light-navy);
    transition: ease-in .3s;
}
.selected {
    background-color: var(--light-navy);
}
.unselected {
    background-color: var(--navy);
}

/* @media only screen and (min-width: 1281px) {
    .explorer-button {
        margin: var(--margin-xxs);
        padding: var(--padding-sm);
    }
    .select-explorer {
        margin: var(--margin-xxs);
    }
  } */

@media only screen and (max-width: 750px) {
    .interaction-container {
        height: 20rem;
    }

    .collapse-button-open {
        left: calc(50% - 29px);
        /* (Dropdown menu width + button height) / 2 */
        top: calc(20rem - 29px);
    }

  }
