.tooltip-title {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sire-tooltip {
    padding: 1rem;
}

.tooltip-title h3 {
   font-weight: 600;
   font-size: 1rem; 
   /* margin: 0 .5rem 0 0; */
}

.tooltip-row-title {
    font-weight: 500; 
}