.toggle-button {
    height: 3.625rem;
    width: 3.625rem;
    background-color: var(--navy);
    color: var(--white);
    border: none;
    border-radius: var(--border-lg);
    z-index: 2;
    position: relative; 
    cursor: pointer; 
  }
  
  .toggle-button::after {
    content: "";
    background-repeat: no-repeat; 
    top: .55rem;
    left: .4rem;
    width: 100%;  
    height:100%; 
    position: absolute;
    background-image: url('../assets/arrow-icon.svg');
    background-size:2.5rem;
  }

  .button-open {
    position: absolute;
    left: calc(18rem + .125rem);
    top: 200px;
    transition: all .5s ease-out;
  }
  
  .toggle-button-close {
    position: absolute;
    transform: rotate(180deg);
    top: var(--margin-xxs);
    left: var(--margin-xxs);
    transition: all .5s ease-out;
  }

  @media only screen and (min-width: 1281px)  {
    
    .button-open {
      left: calc(20vw + .125rem);
    }

    .toggle-button-close {
      top: var(--margin-lg);
      left: var(--margin-sm);
    }

  }