.info-card .mapboxgl-popup-content {
  /* position */
  position: absolute;
  z-index: 2;
  width: 0;
  color: var(--navy);
  /* layout and size*/
  display: flex;
  flex-direction: column;
  gap: var(--padding-lg);
  margin-top: 5.625rem;
  padding: 0;
  /* shape */
  box-shadow: var(--box-shadow);
  border-radius: var(--border-sm);
  /* color */
  opacity: 95%;
  /* behavior */
  /* cursor: grab;  */
  pointer-events: none;
}

.content-container {
  padding: var(--padding-sm) var(--padding-sm);
}

.photo {
  aspect-ratio: 16/9;
}

.info-card:hover {
   cursor: grabbing; 
  }

.info-text {
  font-size: var(--font-size-xs);
  font-weight: 400;
}

/* SumPopUp */

.popup-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.sumPopup-button-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  width: var(--map-menu-minwidth);
  /* shape */
  box-shadow: var(--box-shadow);
  border-radius: var(--border-sm);
  pointer-events: auto;
}

/* Table styles on sumPopup */
table {
  width: 100%;
}

th {
  padding-bottom: 0.25rem;
  font-size: var(--font-size-xxs);
}

td > h2 {
  text-align: left;
}
td > h3 {
  text-align: right;
}

/* td */
.district-number {
  width: 40%;
}

.total {
  text-align: right;
}

.total {
  font-size: var(--font-size-sm);
  border-top: 2px solid var(--navy);
  padding-top: 0.25rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0 0 10px 10px;
  border: none;
  background-color: var(--grey);
  color: var(--white);
}

.button:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s ease-out;
}

.button-text {
  font-size: var(--font-size-xxs);
  padding: 0 0.5rem;
}

@media only screen and (min-width: 550px) {
  .info-card .mapboxgl-popup-content {
    right: 0;
    width: auto;
    margin: var(--margin-xxs);
  }

  .popup-container {
    display: block;
    width: auto;
  }

  .info-card {
    right: 0;
    left: auto;
  }

  
}

/* Desktop styles */
@media only screen and (min-width: 1281px) {
  .info-card .mapboxgl-popup-content {
    margin: var(--margin-lg) var(--margin-sm);
  }

  .sumPopup-button-container {
    width: var(-map-menu-maxwidth);
  }

  .info-text {
    font-size: var(--font-size-sm);
  }
}
