/* SumPopUp also*/

.popup-container {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.info-card .mapboxgl-popup-content {
  /* position */
  position: absolute;
  z-index: 2;
  width: 0;
  color: var(--navy);
  /* layout and size*/
  display: flex;
  flex-direction: column;
  gap: var(--padding-lg);
  margin: var(--margin-xxs) var(--margin-sm);
  /* margin-top: 5.625rem; */
  padding: 0;
  /* shape */
  box-shadow: var(--box-shadow);
  border-radius: var(--border-sm);
  /* color */
  opacity: 95%;
  /* behavior */
  /* cursor: grab;  */
  pointer-events: none;
}

.content-container {
  padding: var(--padding-sm) var(--padding-sm);
}

.photo {
  aspect-ratio: 16/9;
}

/* .info-card:hover {
   cursor: grabbing; 
  } */

.info-text {
  font-size: var(--font-size-xs);
  font-weight: 400;
}



@media only screen and (min-width: 550px) {
  .info-card .mapboxgl-popup-content {
    right: 0;
    width: auto;
    margin: var(--margin-xxs);
  }

  .popup-container {
    display: block;
    width: auto;
  }

  .info-card {
    right: 0;
    left: auto;
  }
}

/* Desktop styles */
@media only screen and (min-width: 1281px) {
  .info-card .mapboxgl-popup-content {
    margin: var(--margin-lg) var(--margin-sm);
  }

  .info-text {
    font-size: var(--font-size-sm);
  }

  .label-padding {
    padding: .25rem 0;
  }
}
