.sumPopup .mapboxgl-popup-content {
    /* position */
    position: absolute;
    z-index: 2;
    width: 0;
    color: var(--navy);
    /* layout and size*/
    display: flex;
    flex-direction: column;
    gap: var(--padding-lg);
    margin: var(--margin-xxs) var(--margin-sm);
    /* margin-top: 5.625rem; */
    padding: 0;
    /* shape */
    box-shadow: var(--box-shadow);
    border-radius: var(--border-sm);
    /* color */
    opacity: 95%;
    /* behavior */
    /* cursor: grab;  */
    pointer-events: none;
  }

.sumPopup-button-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    width: var(--map-menu-minwidth);
    /* shape */
    box-shadow: var(--box-shadow);
    border-radius: var(--border-sm);
    pointer-events: auto;
  }
  
  /* Table styles on sumPopup */
  .sumPopup-table {
    width: 100%;
  }
  
  .table-headers {
    background-color: var(--navy);
  }

  .table-head {
    font-size: var(--font-size-sm);
    color: var(--white);
    font-weight: 400;
  }

  .table-headers > .table-head:nth-of-type(odd) {
    border-radius: var(--border-sm) 0 0 0 ;
  }
  .table-headers > .table-head:nth-of-type(even) {
    border-radius: 0 var(--border-sm) 0 0;
  }

  .sumPopup-row:nth-of-type(odd) {
    background-color: var(--table-row);
  }
  .sumPopup-row:nth-of-type(odd) {
    background-color: var(--table-row);
  }

  .sumPopup-row > td {
    padding: var(--padding-xxxs) var(--padding-sm);
  } 

  .sumPopup-message, .table-head {
    padding: var(--padding-xs) var(--padding-sm);
  }
  
  td > h2 {
    text-align: left;
  }
  td > h3 {
    text-align: right;
  }
  
  .district-number {
    width: 40%;
  }
  
  .total-label, .total, .sumPopup-message {
    font-size: var(--font-size-sm);
  }

  .total-label, .total {
    font-weight: bold;
  }

  .total {
    text-align: right;
    border-top: 2px solid var(--navy);
  }

  /* Clear button */
  
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
    border: none;
    background-color: var(--grey);
    color: var(--white);
  }
  
  .button:hover {
    background-color: var(--red);
    color: var(--white);
    transition: 0.3s ease-out;
  }
  
  .button-text {
    font-size: var(--font-size-xs);
    padding: 0 var(--padding-xs);
  }


  @media only screen and (min-width: 550px) {
    .sumPopup .mapboxgl-popup-content {
      right: 0;
      width: auto;
      margin: var(--margin-xxs);
    }
  
    .sumPopup {
      right: 0;
      left: auto;
    }
  }

  /* Desktop styles */
@media only screen and (min-width: 1281px) {
    .sumPopup .mapboxgl-popup-content {
      margin: var(--margin-lg) var(--margin-sm);
    }
  
    .sumPopup-button-container {
      width: var(--map-menu-maxwidth);
    }
  }