.footer {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: var(--padding-xs);
    column-gap: var(--padding-xl);
    padding: var(--padding-xs);
    border: .5px solid var(--grey);
}

.ti-logo {
    width: 12rem;
}

.footer-logo {
    width: 3.25rem;
    aspect-ratio: 16/9;
}

@media only screen and (min-width: 1281px) {
    
    .footer-logo {
        width: 4.375rem;
    }
}