.header {
  background-color: var(--navy);
  color: var(--white);
  /* padding: var(--padding-sm); */
}

/* HEADER LOGO */

.header-logo {
  padding: var(--padding-sm) var(--padding-xs);
}

.logo-link {
  color: var(--white);
  font-size: var(--font-size-sm);
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.logo {
  width: 4.375rem;
  aspect-ratio: 16/9;
}

.header-title {
  font-size: var(--font-size-lg);
  /* font-weight: 300; */
}

/* HEADER LINKS */

.info-icon {
  width: 25px;
  font-size: var(--font-size-sm);
  margin-left: 0.5rem;
}

/* bootstrap overwrites */
.navbar {
  padding: 0;
}
.nav-link {
  display: flex;
  align-items: center;
  padding: var(--padding-lg);
  border-left: 1px solid var(--light-navy);
}
.navbar-collapse {
  justify-content: end;
}
.nav-link.active {
  background-color: var(--light-navy);
}
.nav-link:hover {
  background-color: var(--dark-navy);
  transition: ease-in 0.3s;
}
/* change navbar-toggler inside lines color (stroke) */
.navbar-dark span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
/* change hamburger button border color */
.navbar-dark button.navbar-toggler {
  border-color: var(--white);
}

/* Desktop Styles */
@media only screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: calc(var(--padding-md) * 2);
    padding-left: calc(var(--padding-md) * 2);
    justify-content: center;
  }
  .logo {
    width: 5.625rem;
  }
}

/* mobile + tablet only */
@media only screen and (max-width: 991px) {
  .navbar-collapse {
    background-color: var(--light-navy);
  }
  .nav-links {
    padding: 0;
  }
  .nav-link {
    padding: var(--padding-sm);
  }
  .header-tab-bar {
    padding: var(--padding-sm) var(--padding-xs);
  }
  .nav-link:not(:first-child) {
    border-top: 1px solid var(--dark-navy);
  }
  .nav-link.active {
    background-color: var(--dark-navy);
  }
}
